/* * {
  border: thin solid black;
} */

body {
  width: 100vw;
  height: 100vh;
  margin: auto;

  font-family: 'Lato', sans-serif;
}

body header {
  width: 100%;
  height: 50px;
  background-color:#777777;
}

body main {
  height: calc(100% - 100px);
}

body footer {
  height: 50px;
  background-color: #777777;
}

img {
  margin: 15px;
  height: 250px;
  width:  250px;
}

#UI { 
  height: calc(100% - 100px);
  margin:auto;
  width: 80%;
}

#images > div {
  display: inline-block;
  height: 100px;
  margin: 15px;
}

#session-chart-container {
  width: 700px;
}

#persistent-chart-container {
  width: 700px;
}

canvas {
  height: 400px !important;
  /* width: 500px !important; */
}